.posicion{
    position: absolute;
    margin-left: 631px;
    margin-top: 400px;
    text-align: center;
    width: 15%;
    
}


.conAlerta{
    --tw-gradient-from: #f87171;
    --tw-gradient-to: rgb(248 113 113 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #dc2626;   
}

.sinAlerta{
    --tw-gradient-from: #818cf8;
    --tw-gradient-to: rgb(129 140 248 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #4f46e5;
}

.alerta{
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    width: 155%;
    text-align: center;
    border-radius: 0.75rem/* 12px */;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.5rem/* 14px */;
    line-height: 2.25rem/* 20px */;
}