.artistDetail_header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.artistDetail_header img{
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.artistDetail_information{
    text-align: left;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}
.artistDetail_information p{
    margin-bottom: 0;
    color: green
}

.background{
    background-color: red;
}

.background_body{
    background-color: green;
}

.div_box{
    background-color: pink;
    min-height: 100vh;
}