.contact{
    padding: 20px 30px;
}
.contact h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact p{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.form_contact input{
    width: 300px;
    padding: 5px 10px;
}
.form_contact textarea{
    width: 300px;
    padding: 5px 10px;
}

.form_contact button{
    background-color: green !important;
}
.mainDiv{
    width: 65%;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    color: white;
    min-height: 0%;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background-color: #1b2831;;
    border-radius: 20px;
    overflow: hidden;
}
.mainDiv2{
    width: 65%;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    color: white;
    min-height: 0%;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
    border-radius: 20px;
    overflow: hidden;
}


.form_tittle{
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}

form{
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
};

.form_input{
    width: 500px;
};

.form_input input{
    width: 100%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 15px;
    color: rgba(8,34,78,.9);
};

form p{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
    color: red;
};

button.btn_send{
    border: 1px solid #023880;
    background-color: #023880 ;
    border-radius: 6px;
    padding: 8px 50px;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    
};

textarea{
    width: 100%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 15px;
    color: rgba(8,34,78,.9);
};

