
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.filters{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
}

.filters select{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 6px;
    width: 30%;
    background-color: transparent;
}