
.panelUser{
    display: flex;
    flex-direction: row;
}
.siderBar{
    width: 300px;
    height: 100vh;
    background-color: green;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchBar{
    width: 100%;
    height: 80px;
    background-color: red;
}

.contentHome{
    padding: 20px 30px;
}
.contentHome_title{
    text-align: center;
    width: 15%;
    margin-top: 50px;
    padding: 15px;
    height: fit-content;
    color: #f73aa8;
    min-height: 0%;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
/* Estilos Genres */
.genres{
    display: flex;
    flex-wrap: wrap;
}

/* Estilos Genre Card*/
.genreCard{
    padding: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    margin: 15px;
}

.genreCard img{
    width: 180px;
}

.genreCard h2{
    padding-top: 10px;
    font-size: 25px;
}

.genreCard:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.generos{
    color: aqua;
}
