.side{
    background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
    padding: 15px;
    border-radius: 20px;
}
.side h5{
    color: #ffffff;
    text-align: start;
    font-weight: 500;
}
.can{
    padding: 8px;
    display: flex;
}
.can img{
    height: 45px;
    width: 45px;
}
.can a{
    font-weight: 500;
    text-decoration: none;
}
.can p{
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    padding-left: 20px;
}