.carti{
  padding: 5px 10px;
  margin: 10px 15px;
  border-radius: 8px;
}
.pepe{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  min-height: 100vh;
}
.carta{

  border-radius: 10px;
  background-color: rgb(145, 145, 145);
}

.detail {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid transparent;
  border-radius: 5px;
  padding-bottom: 80px;
  background-color: rgb(255, 255, 255);
}
.pri{
  border: 100px white;
}
.pri img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 100px white;
}
.detail h3 {
  color: #d400ff;
}
.detail p {
  text-align: center;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
#previewImg {
  max-width: 300px;
  height: auto;
}
.ci button{
  text-align: center;
  align-items: center;
}
.ci{
  align-items: center;
}


/*Card*/
.carda{
  margin-left: 10px;
  margin-top: 20px;
  width: 320px;
  height: 615px;
  background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.carda .img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 10;
  transform: translateY(50px);
  border: 7px solid white;
  overflow: hidden;
  position: absolute;
  background-color: white;
}
.carda .img img{

  width: 120%;
  height: 120%;
  transform: translate(-8%, -8%);
}
.content{
  width: 100%;
  height: 100%;
  transform: translateY(170px);
  display: flex;
  flex-direction: column;
  z-index: 20;
  align-items: center;
  color: white;
  font-weight: 500;
}
.content p{
  margin: 0 0;
}
.center{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}