.detailBac{
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid transparent;
  border-radius: 5px;
  padding-bottom: 80px;
  background-color: rgb(242, 242, 242);
}

.detail {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px black;
  border: 6px solid transparent;
  border-radius: 5px;
  padding-bottom: 80px;
  background-color: rgb(255, 255, 255);
}
.detail img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.detail h3 {
  color: #d400ff;
}
.detail p {
  text-align: center;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
#previewImg {
  max-width: 300px;
  height: auto;
}
.ci button{
  text-align: center;
  align-items: center;
}
.ci{
  align-items: center;
}