body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Nav*/
Nav{
  width: 100%;
  height: 10%;
  min-height: 0%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(34, 34, 34);
  box-shadow: 0 5px 10px 	#1DB954;
} 
Nav a{
  text-decoration: none;
  padding-top: 8px;
}
Nav a h5{
  color: #1DB954;
  padding: 10px;
  padding-left: 10px;
}
Nav h5:hover{
  color: white;
}

.logo img{
  height: 50px;

}

/*imgCa*/
.caru{
  padding-top: 20px;
}
.img1{
  width:98%;
  height: 650px;
}

/*footer*/
.footer-links{
  margin-top: 20px;
  background: rgb(34, 34, 34);
  color: white;
  font-size: 14px;
  padding: 35px 0;
}
.footer-container ul li a{
  color: white;
  text-decoration: none;
  list-style: none;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
.footer-container ul{
  margin: 0 auto;
  list-style: none;
}
.social ul{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.creadores ul{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*Form*/
.cre{
  padding-top: 40px;
  padding-bottom: 30px;
}

.form{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 auto;
  width: 500px;
  padding: 35px;
  border: 6px solid transparent;
}
.form label{
  padding: 10px;
}
.form input, textarea{
  outline: none;

}

.field{
  border: solid 1px;
  padding: 10px;
  width: 280px;
}

.crear{
  text-align: center;
  width: 100%;
  height: 100%;
}

.crear button{
  width: 300px;
  height: 60px;
  font-size: 17px;
}


@media(max-width:600px){
  
.creadores ul{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;
  align-items: center;
}
.creadores ul li{
  padding: 10px;
  align-items: center;
}
}

/*sea*/
.pagi{
  font-size: 17px;
  height: 35px;
  width: 200px;
}
.pagiBo{
  background-color: black;
  color: white;
  width: 70px;
  height: 40px;
}
.ete{
  padding: 20px;
}
.boton{
  padding: 40px;
}