.App {
  text-align: center;
  background-color: #fff;
  background-size:auto;
  min-height: 100vh;
}

.dropdown-toggle::after{
  display: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Nav*/
.bg-dark{
  background-color: white;
}
Nav{
  width: 100%;
  height: 10%;
  min-height: 0%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(255, 255, 255);
  box-shadow: 0 5px 10px 	#032c61
} 
Nav a{
  text-decoration: none;
  padding-top: 12px;
  margin-left: 18px;
  margin-right: 18px;
}
Nav a h5{
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 10px;
}
Nav h5:hover{
  color: #032c61;
  transition: all .3s ease-in-out;
}
.logo{
  display: flex;

}

.logo img{
  height: 35px; 
}

/*imgCa*/
/* .caru{
  padding-top: 20px;
} */
.img1{
  width:100%;
  height: 650px;
}

/*footer*/
.footer-links{
  margin-top: 50px;
  background: rgb(255, 255, 255);
  color: #000000;
  font-size: 14px;
  padding: 35px 0;
  width: 100%;
  min-height: 34vh;
}
.footer-container ul li a{
  color: white;
  text-decoration: none;
  list-style: none;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
.footer-container ul{
  margin: 0 auto;
  list-style: none;
}
.social ul{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.creadores ul{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*Form*/
.cre{
  padding-top: 40px;
  padding-bottom: 30px;
}
.created{
  margin-bottom: 40px;
}

.form{
  background-color: #1b2831;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 1rem;
  margin: 0 auto;
  width: 500px;
  padding: 35px;
}
.form label{
  padding: 10px;
}
.form input, textarea{
  outline: none;

}
.form input{
  border-radius: 10px;
}
.form textarea{
  border-radius: 10px;
  width: 60%;
}

.field{
  border: solid 1px;
  padding: 10px;
  width: 280px;
}

.crear{
  text-align: center;
  width: 100%;
  height: 100%;
}

.crear button{
  width: 300px;
  height: 60px;
  font-size: 17px;
}
.ini button{
  background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
  border-radius: 10px;
  width: 65%;
  height: 60px;
}

.go button{
  background: white;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.con button{
  color: white;
  background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #a64ac2;
}
@media(max-width:600px){
  .footer-links{
    min-height: 37vh;
  }
  
.creadores ul{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;
  align-items: center;
}
.creadores ul li{
  padding: 10px;
  align-items: center;
}
}



/*sea*/
.pagi{
  font-size: 17px;
  height: 35px;
  width: 200px;
}
.pagiBo{
  background-color: black;
  color: white;
  width: 70px;
  height: 40px;
}
.ete{
  padding: 20px;
}
.boton{
  padding: 40px;
}

.per{
  color: white;
}

.imgC{
  width: 70px;
  height: 70px;
  padding-top: 10px;
}

.re{
  text-align: right;
  color: black;
}

.todo{
  margin-top: 25px;
  padding: 5px;
  display: grid;
  grid-template-columns: 18% 62% 20%;
  width: 100%;
}

.ult{
  color: white;
}

/*FeedPer*/
.to{
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
}
.car{
  width: 100%;
}
.fe img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.fe h3{
  padding-top: 30px;
  color: #ffffff;
}
.fe p{
  text-align: center;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.list-group-item{
  width: 100%;
  background-color:black ;
}
.list-group-item img{
  width: 100px;
  height: 100px;
}
.bo p{
  text-align: center;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.bo a{
  font-weight: 500;
  text-decoration: none;
  color: #00ffa6;
}
.bo a:hover{
  color: #000000;
}

/*Detalle Artista*/
.topSongs{
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.ArtistT{
  width: 100%;
  height: 10%;
  min-height: 10%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ArtistD{
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,46,16,1) 65%, rgba(29,185,84,1) 100%);
}
.pi img{
  border-radius: 50%;
}
.ArtistT img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.imge{
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.ArtistT h1{
  color: white;
}
.ArtistTo{
  width: 100%;
  height: 100%;
  min-width: 100%;
  display: grid;
  margin: 10px 15px;
  border: 1px solid pink;
  border-radius: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(226, 177, 185);
  margin-top: 40px;
}

.ArtistTo img{
  height: 80px;
  width: 80px;
}
.ArtistTo p{
  color: white;
  font-size: large;
}

.ArtistTo a{
  text-decoration: none;
}

.topSongs h2{
  padding: 20px;
  color: white;
}
.peque{
  width: 50%;
  height: 10%;
  min-height: 10%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
}
.peque img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.peque p a{
  text-decoration: none;
}
.peque p{
  color: white;
  font-size: large;
}

.cen h1{
  color: white;
}
.confir{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.confir h1{
  color: white;
}
.cen h1{
  color: #f73aa8;
}

/* Estilos Nav */
.nav_remusic{
  /* background: linear-gradient(101.38deg,#fa42cc,#fff 150.71%); */
  /* background: radial-gradient(circle at left 50%,#733a84,#fa42cc); */
  background: radial-gradient(circle at left 50%,#a64ac2,#f73aa8);
  color: #fff;
}
.nav_remusic h5{
  color: #fff !important;
}
Nav{
  box-shadow: none;
}
.nav_btn_registro{
  display: flex;
  align-items: center;
  
}
.btn_registrate{
  background-color: #6457a6; 
  border-radius: 8px;
  padding: 5px 15px 10px 15px;
}
.btn_registrate:hover{
  background-color: #5c46be; 
}

.carousel-indicators button{
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.carousel-indicators [data-bs-target]{
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
}

.carousel-indicators button.active{
  background-color: #f73aa8 !important;
}

.t{
  min-height: 100vh;
}

.t{
  min-height: 100vh;
 }

ul.nav.nav-tabs {
  justify-content: center;
}

ul.nav.nav-tabs .nav-item button{
  width: 200px;
  font-size: 17px;
  font-weight: 600;
  color: #000;
}

ul.nav.nav-tabs .nav-item button.active{
  color: #a64ac2;
}

.tab-content{
  padding: 30px;
}